<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true"><h5>All</h5></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="fulltime-tab" data-bs-toggle="tab" data-bs-target="#fulltime" type="button" role="tab" aria-controls="fulltime" aria-selected="true"><h5>Full Time</h5></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="freelance-tab" data-bs-toggle="tab" data-bs-target="#freelance" type="button" role="tab" aria-controls="freelance" aria-selected="false"><h5>Freelance</h5></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="teaching-tab" data-bs-toggle="tab" data-bs-target="#teaching" type="button" role="tab" aria-controls="teaching" aria-selected="false"><h5>Teaching</h5></button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="container-fluid">
            <div class="row">
                {{collection:work sort="order"}}
                    <div class="col-lg-6">
                        {{partial:workcard}}
                    </div>
                {{/collection:work}}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="fulltime" role="tabpanel" aria-labelledby="fulltime-tab">
    <div class="container-fluid">
        <div class="row">
            {{collection:work sort="order" type:is="professional" }}
                <div class="col-lg-6">
                    {{partial:workcard}}
                </div>
            {{/collection:work}}
        </div>
    </div>
</div>
<div class="tab-pane fade" id="freelance" role="tabpanel" aria-labelledby="freelance-tab">
    <div class="container-fluid">
        <div class="row">
            {{collection:work sort="order" type:is="freelance" }}
                <div class="col-lg-6">
                    {{partial:workcard}}
                </div>
            {{/collection:work}}
        </div>
    </div>
</div>
<div class="tab-pane fade" id="teaching" role="tabpanel" aria-labelledby="teaching-tab">
    <div class="container-fluid">
        <div class="row">
            {{collection:work sort="order" type:is="teaching" }}
                {{if no_results}}
                <div style="height: 30vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <p style="text-align: center;">Coming soon</p>
                </div>
                {{else}}
                <div class="col-lg-4">
                    {{partial:workcard}}
                </div>
                {{/if}}
            {{/collection:work}}
        </div>
    </div>
</div>
</div>  