<div class="workcard">
    <div class="row flex {{ switch between='flex-row|flex-row-reverse' }}">
        <div class="col-sm-12 workcard-details">
            {{if coming_soon}}
                <span style="display: flex; flex-direction: row; justify-content: space-between;">
                    <h2>{{title}}</h2>
                    <h2 class="secondary"><i class="las la-arrow-circle-right"></i></h2>
                </span>
                <div class="tags">
                    {{type_of_work}}
                        <span class="tag">{{title}}</span>
                    {{/type_of_work}}
                </div>
                <p class="large">{{card_blurb}}</p>
                <p style="color: #d10707; font-weight: 700;">Coming Soon</p>
            {{else}}
                <a href="{{url}}">
                    <span style="display: flex; flex-direction: row; justify-content: space-between;">
                        <h2>{{title}}</h2>
                        <h2 class="secondary"><i class="las la-arrow-circle-right"></i></h2>
                    </span>
                </a>
                <div class="tags">
                    {{type_of_work}}
                        <span class="tag">{{title}}</span>
                    {{/type_of_work}}
                </div>
                <p class="large">{{card_blurb}}</p>
                
            {{/if}}
        </div>
        <div class="col-sm-12">
            {{if coming_soon}}
            <img src="{{main_image}}" width="100%" alt="{{title}}">
            {{else}}
            <a href="{{url}}">
                <img src="{{main_image}}" width="100%" alt="{{title}}">
            </a>
            {{/if}}
        </div>
        
    </div>
</div>