<!-- <div class="row" style="margin-bottom: 96px; margin-top: 96px; text-align: center;">
    <div class="col-sm-10 offset-sm-1">
        <h1><nobr>strategically-aligned,</nobr> <nobr>experience-centered,</nobr> <nobr>empathy-driven</nobr> product design for change</h1>
    </div>
</div> -->

<header style="padding: 60px; position: fixed; top: 0; display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 90px; height: 83vh">
   
                <div style="display: flex; flex-direction: row; justify-content: space-between;" class="spacer">
                    <a href="/">
                        <h2>Conrad Fulbrook</h2>
                    </a>
                    <div style="display: flex; height: 100%; flex-direction: row; gap: 60px;">
                        <h3><a href="https://www.linkedin.com/in/conrad-fulbrook-59b09999/">LinkedIn</a></h3>
                        <h3><a href="#"> Résumé</a></h3>
                    </div>
                </div>     

                <div style="display: flex; height: 100%; flex-direction: row; gap: 60px;">
                    <h3>Cambridge University<p>BA, English Literature</p></h3>
                    <h3>Rhode Island School of Design<p>MFA, Graphic Design</p></h3>
                </div>   
              
    
    <div>
        <p class="display spacer">Product design director passionate about high-impact innovation for social uplift.</p>
        <p class="large" style="max-width: 61%;">Fintech, SaaS, medical, and arts & cultural practice to improve peoples' lives at scale, through the applied humanism of modern technology and design.</p>
    </div>
    
</header>

<section id="content">   
    {{partial:tabs}}             
</section>

