<div class="row" style="margin-bottom: 96px; margin-top: 96px; text-align: center;">
    <div class="col-sm-10 offset-sm-1">
        <h1><nobr>strategically-aligned,</nobr> <nobr>experience-centered,</nobr> <nobr>empathy-driven</nobr> product design for change</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{collection:work sort="order"}}
            
                <div class="workcard">
                    <div class="row flex {{ switch between='flex-row|flex-row-reverse' }}">
                        <div class="col-sm-12 col-xl-8 order-xl-2">
                            {{if coming_soon}}
                            <img src="{{main_image}}" width="100%" alt="{{title}}">
                            {{else}}
                            <a href="{{url}}">
                                <img src="{{main_image}}" width="100%" alt="{{title}}">
                            </a>
                            {{/if}}
                        </div>
                        <div class="col-sm-12 col-xl-4 workcard-details">
                            {{if coming_soon}}
                                <h1>{{title}}</h1>
                                <div class="tags">
                                    {{type_of_work}}
                                        <span class="tag">{{title}}</span>
                                    {{/type_of_work}}
                                </div>
                                <p>{{card_blurb}}</p>
                                <p style="color: #d10707; font-weight: 700;">Coming Soon</p>
                            {{else}}
                                <a href="{{url}}">
                                    <h1>{{title}}</h1>
                                </a>
                                <div class="tags">
                                    {{type_of_work}}
                                        <span class="tag">{{title}}</span>
                                    {{/type_of_work}}
                                </div>
                                <p>{{card_blurb}}</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
        {{/collection:work}}
    </div>
</div>