
<div class="row">
    <div class="col-sm-11 offset-sm-1">
        <h1>experience-centered</h1>
        <h1>strategically-aligned</h1>
        <h1>outcome-driven</h1>
        <h1>meticulously-crafted</h1>
        <h1>london-bred</h1>
        <h1>boston-based</h1>
        <h1>coffee-fueled</h1>
        <h1>etc.</h1>
    </div>
</div>

<video src="" width="100%" height="500px" style="background-color: grey; margin-top: 60px;"></video>

<div class="row">
    <div class="col-sm-12">
        {{collection:work}}
            
                <div class="workcard">
                    <div class="row flex {{ switch between='flex-row|flex-row-reverse' }}">
                        <div class="col-sm-4" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; padding:90px;">
                            <a href="{{url}}">
                                <h1>{{title}}</h1>
                            </a>
                            <div class="tags">
                                {{type_of_work}}
                                    <span class="tag">{{title}}</span>
                                {{/type_of_work}}
                            </div>
                            <p style="font-weight: 700;">{{role}}</p>

                            <p>{{card_blurb}}</p>
                        </div>
                        <div class="col-sm-8">
                            <img src="{{main_image}}" width="100%" alt="{{title}}">
                        </div>
                    </div>
                </div>
        {{/collection:work}}
    </div>
</div>