<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conradfulbrookdesign</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cfd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,300&family=Work+Sans:wght@100;300;700&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="title">
            <a href="/">
            conradfulbrookdesign
        </a>

        </div>
    <nav>
        <ul style="list-style-type: none; margin-left: -40px; display: flex; flex-wrap: wrap;">
            {{ nav include_home="true" }}
              <li style="margin-left: 30px;">
                <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ /if }}>
                  {{ title }}
                </a>
              </li>
            {{ /nav }}
          </ul>
    </nav>
    <div class="container-fluid" style="padding-top: 96px;">
        {{template_content}}
    </div>

    <!-- Default Statcounter code for Conradfulbrookdesign.com
      http://conradfulbrookdesign.com -->
      <script type="text/javascript">
        var sc_project=12327131; 
        var sc_invisible=1; 
        var sc_security="9d0ba01d"; 
        </script>
        <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
        <noscript><div class="statcounter"><a title="Web Analytics"
        href="https://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="https://c.statcounter.com/12327131/0/9d0ba01d/1/"
        alt="Web Analytics"
        referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>
</html>