<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conradfulbrookdesign</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cfd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;1,300&family=Work+Sans:wght@100;300;700&display=swap" rel="stylesheet">
</head>
<body>
    
        <div class="title">
            <a href="/">
            conradfulbrookdesign
        </a>

        </div>
    <nav>
        <ul style="list-style-type: none; margin-left: -40px; display: flex; flex-wrap: wrap;">
            {{ nav include_home="true" }}
              <li style="margin-left: 30px;">
                <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ /if }}>
                  {{ title }}
                </a>
              </li>
            {{ /nav }}
          </ul>
    </nav>
    <div class="container-fluid" style="padding-top: 96px;">
        {{template_content}}
    </div>
</body>
</html>