body {
    background-color: $ceramic;
    background-color: $lightcactus;
}
header {
    padding: 15px; display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 90px; 
    width: 100%;
    color: $softblack;
    background-color: rgba(255, 255, 255, 0.879);
    backdrop-filter: blur(9px);
    & h3, a {
        margin: 0;
        padding: 0;
    }
    & .large {
        color: $eco_strong;
    }
}
.infobar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 12px;
}
.top-links {
    display: flex; 
    height: 100%; 
    flex-direction: row; 
    justify-content: left;
    gap: 60px;
}
.schools {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 60px;
}


//shadows
$shallow: 0 2px 12px 0px #e4e4e47d;

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    // background-color: $ceramic;
    width: 100%;
    z-index: 999999999999999999;
    background-color: $lightcactus_trans;
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    color: $lightcactus;
    & h2 {
        margin: 0;
    }
    & #close {
        z-index: 999999999999999999999999999999999;
    }
}
main {
    position: relative;
    // top: 60px;
}

.tab-content>.active {
    // background-color: $aquateal;
}
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 90px auto;
    border-top: solid thin lightgrey;
}
@media only screen and (min-width: $md) {
    .work { 
        padding: 0 60px;
    }
}
#content {
    background-color: $lightcactus_trans;
    padding-top: 0;
    position: relative;
    backdrop-filter: blur(16px);
    & a, p {
        // color: $lightcactus;
    }
    & #myTab {
        position: sticky;
        padding-top: 30px;
        top: 0;
        z-index: 999999;
        gap: 12px;
    }
}
.more_content {
    position: relative; 
    z-index: 9999999999999999999999999999;
    & #content {
        top: 0;
    }
}
.workcard {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    margin-bottom: 60px;
    // background-color: rgb(255, 255, 255);
    // background-color: rgb(29 29 29 / 92%);
    // backdrop-filter: blur(10px);
    border-radius: 21px;
    height: 94%;
    overflow: hidden;
    box-shadow: $shallow;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    color: $softblack;
    // backdrop-filter: blur(16px);
    & img {
        // box-shadow: 0 2px 20px 8px rgb(7 26 25 / 13%);
        transition: all 1s;
        border: solid $lightcactus thin;
        border-radius: 12px;
        // &:hover {
        //     transform: scale(103%);
        //     transition: all 1s;
        // }
    }
    // & p {
    //     color: $lightcactus;
    // }
    & h2 {
        // padding: 12px 44px;
        // color: $eco_strong;
        margin-top: 0;
        margin-bottom: .5em;
    }
}
.workcard-details {
    padding: 15px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
@media only screen and (min-width: $sm) {
    .workcard-details { 
        // padding: 0px 90px;
        // padding-bottom: 24px;
    }
}
@media only screen and (min-width: $xxl) {
    .workcard-details { 
        // padding: 0px 48px;
    }
}
.workcard-small {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    & img {
        max-height: 250px;
        width: 100%;
    }
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    justify-content: start;
    gap: 8px;
    & h3 {
        font-size: 18px;
    }
}
@media only screen and (min-width: $md) {
    .tags { 
        margin-bottom: 24px;
    }
    .top-bar {
        flex-direction: row;
        & #close {
            position: absolute;
            left: 60px;
        }
    }
}
.tag {
    display: inline-block;
    padding: 3px 10px;
    font-size: smaller;
    color: $eco_strong;
    border-radius: 10px;
    mix-blend-mode: multiply;
    background-color: $eco_strong-trans
}
.title {
    font-weight: 700;
    transform: rotate(-90deg);
    position: fixed;
    left: -45px;
    top: 88px;
    z-index: 9999;
    padding: 12px 0;
    & a {
        color: $softblack;
        padding-bottom: 6px;
        &:hover {
            text-decoration: none;
        }
    }
}
nav {
    height: 96px;
    z-index: 999;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 60px;
    font-weight: 700;
    & ul {
        margin-bottom: 0;
    }
    & a {
        color: $softblack;
        padding-bottom: 6px;
        &:hover {
            color: red;
            text-decoration: none;
            border-bottom: solid thin red;
        }
    }
}

.darkbackground {
    // background-color: $darkblack;
    padding-bottom: 120px;
    // & p, h3{
    //     color: $lightcactus;
    // }
    // & .tags {
    //     mix-blend-mode: screen;
    // }
}


.spacer {
    margin-bottom: 30px;
}
.spacer_medium {
    margin-bottom: 60px;
}
.spacer_big {
    margin-bottom: 120px;
}




@media only screen and (min-width: $md) {
    header {
        padding: 60px;
    }
    .schools {
        flex-direction: row;
        gap: 60px;
        
    }
    #content {
        padding: 30px 60px;
    }
    .workcard {
        padding: 42px;
    }
}
@media only screen and (min-width: $lg) {
    header {
        position: fixed;
        height: 83vh;
        top: 0; 
    }
    .schools {
        margin-bottom: 0;
    }
    #content {
        top: 83vh;
    }
    .infobar {
        flex-direction: row;
        justify-content: space-between;
    }
    .top-links { 
        justify-content: end; 
    }
    .byline {
        max-width: 61%;
    }
}