

@font-face {
    font-family: 'BwGradual';
    src: url('/fonts/bw-gradual-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwGradualBold';
    src: url('/fonts/bw-gradual-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BwGradualBlack';
    src: url('/fonts/bw-gradual-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$serif: 'Cormorant', serif;
$sans: 'BwGradual', sans-serif;
$bold: 'BwGradualBold', sans-serif;
$black: 'BwGradualBlack';

body {
    color: $eco_strong;
    font-family: $sans;
}
p {
    font-size: 18px;
    line-height: 28px;
    color: $softblack;
}
p  a {
    text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
}
h1 {
    font-family: $sans;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}
h2 {
    font-family: $bold;
    font-size: 36px;
    line-height: 36px;
}
h3 {
    font-size: 24px;
    line-height: 42px;
}
h4 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
a {
    color: $softblack;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
.display {
    font-size: 36px;
    line-height: 48px;
    font-family: $bold;
    color: $eco_strong;
}
@media only screen and (min-width: $md) {
    .display { 
        font-size: 54px;
        line-height: 63px;
    }
}
// @media only screen and (min-width: $lg) {
//     .display { 
//         font-size: 72px;
//         line-height: 84px;
//     }
// }
// @media only screen and (min-width: $xl) {
//     .display { 
//         font-size: 96px;
//         line-height: 105px;
//     }
// }
@media only screen and (min-width: $xxl) {
    .display { 
        font-size: 96px;
        line-height: 105px;
    }
}
.large {
    font-size: 21px;
}
.black {
    font-family: $black;
}


@media only screen and (min-width: $md) {
    h1 { 
        font-size: 42px;
        line-height: 48px;
    }
}
@media only screen and (min-width: $lg) {
    h1 { 
        font-size: 64px;
        line-height: 70px;
    }
}
