$serif: 'Cormorant', serif;
$sans: 'Work Sans', sans-serif;

body {
    color: $softblack;
    font-family: $sans;
}

h1 {
    font-family: $serif;
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 10px;
}
h2 {
    font-family: $serif;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 10px;
}
a {
    color: $softblack;
    padding-bottom: 6px;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
p  a {
    text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
}