.grid-container {
  display: grid;
  grid-template-columns: 0fr 3fr;
  margin: 0 80px;
  grid-column-gap: 120px;
}

.spacer {
  margin-bottom: 30px;
}

.spacer_big {
  margin-bottom: 120px;
}

@font-face {
  font-family: "BwGradual";
  src: url("/fonts/bw-gradual-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BwGradualBold";
  src: url("/fonts/bw-gradual-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BwGradualBlack";
  src: url("/fonts/bw-gradual-black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  color: rgb(51, 141, 122);
  font-family: "BwGradual", sans-serif;
}

h1 {
  font-family: "BwGradual", sans-serif;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 10px;
}

h2 {
  font-family: "BwGradualBold", sans-serif;
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 42px;
}

h4 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

a {
  color: #303030;
  padding-bottom: 6px;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.large {
  font-size: 96px;
  line-height: 105px;
  font-family: "BwGradualBold", sans-serif;
}

.black {
  font-family: "BwGradualBlack";
}

p {
  font-size: 21px;
  line-height: 28px;
}

p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 70px;
  }
}
.nav {
  justify-content: center;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  color: rgb(51, 141, 122);
}
.nav-tabs .nav-item.show .nav-link h1, .nav-tabs .nav-link.active h1 {
  font-family: "BwGradualBlack";
}

.tab-content {
  padding-top: 30px;
}

body {
  background-color: #FAFBF9;
  background-color: #f4f5f4;
}

header {
  width: 100%;
  color: #303030;
  background-color: rgba(255, 255, 255, 0.879);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
header h3, header a {
  margin: 0;
  padding: 0;
}
header .large {
  color: rgb(51, 141, 122);
}

main {
  position: relative;
}

.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 90px auto;
  border-top: solid thin lightgrey;
}

@media only screen and (min-width: 768px) {
  .work {
    padding: 0 60px;
  }
}
#content {
  background-color: rgba(244, 245, 244, 0.83);
  position: relative;
  top: 83vh;
  padding: 30px 60px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
.workcard {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  border-radius: 21px;
  height: 94%;
  overflow: hidden;
  box-shadow: 0 2px 12px 0px rgba(228, 228, 228, 0.4901960784);
  background-color: rgb(255, 255, 255);
  padding: 18px;
  color: #303030;
}
.workcard img {
  transition: all 1s;
  border: solid #f4f5f4 thin;
  border-radius: 12px;
}
.workcard h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.workcard-details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workcard-small {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.workcard-small img {
  max-height: 250px;
  width: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  justify-content: start;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .tags {
    margin-bottom: 24px;
  }
}
.tag {
  display: inline-block;
  padding: 3px 10px;
  font-size: smaller;
  color: rgb(51, 141, 122);
  border-radius: 10px;
  mix-blend-mode: multiply;
  background-color: rgba(51, 141, 122, 0.06);
}

.title {
  font-weight: 700;
  transform: rotate(-90deg);
  position: fixed;
  left: -45px;
  top: 88px;
  z-index: 9999;
  padding: 12px 0;
}
.title a {
  color: #303030;
  padding-bottom: 6px;
}
.title a:hover {
  text-decoration: none;
}

nav {
  height: 96px;
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 60px;
  font-weight: 700;
}
nav ul {
  margin-bottom: 0;
}
nav a {
  color: #303030;
  padding-bottom: 6px;
}
nav a:hover {
  color: red;
  text-decoration: none;
  border-bottom: solid thin red;
}
