
<div class="top-bar">
    <a id="close" href="/">
        <h2 class="secondary"><i class="las la-times"></i></h2>
    </a>
    <h1 class="primary">{{title}}</h1>
</div>
<div class="container spacer_medium" style="margin-top: 150px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div style="text-align: center;">
                        <h3 class="spacer primary">{{card_blurb}}</h3>

                        <div class="tags spacer_medium" style="justify-content: center;">
                            {{type_of_work}}
                                <span class="tag">{{title}}</span>
                            {{/type_of_work}}
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- movie -->
            {{if movie}}
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-sm-12">
                    <video src="{{movie}}" width="100%" autoplay loop></video>
                </div>
            </div>
            {{/if}}

            <!-- if hide main image is checked -->
            {{if hide_main_image}}

            <!-- image -->
            {{else}}
            <div class="row">
                <div class="col-md-12 spacer"><img src="{{main_image}}" width="100%" alt="{{title}}"></div>
            </div>
            {{/if}}

            <!-- left column text -->
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p class="large">{{large_intro_textNEW}}</p>
                    <p>{{intro_blurb}}</p>
                </div>
                {{more_content}}
                <div style="margin-top: 30px;" class="col-md-12">
                    <img src="{{image}}" width="100%" alt="">
                    {{if text}}
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p>{{text}}</p>
                            </div>
                        </div>
                    {{/if}}
                </div>
                {{/more_content}}
            </div>
        </div>
        
    </div>
</div>

<div class="more_content">
    <section id="content">
        {{partial:tabs}}
    </section>
</div>
