<div class="row" style="margin: 60px 0;">
    <div class="col-sm-6 offset-sm-1">
        <h1>{{title}}</h1>
    </div>
    <div class="col-sm-3 offset-sm-1">{{card_blurb}}</div>
</div>

{{if movie}}
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <video src="{{movie}}" width="100%" autoplay loop></video>
    </div>
</div>
{{/if}}
<div class="row">
    <div class="col-sm-10 offset-sm-1"><img src="{{main_image}}" width="100%" alt="{{title}}"></div>
</div>

<div class="row">
    <div class="col-sm-6 offset-sm-2">
        <div style="font-size: 24px;">{{large_intro_text}}</div>
        <p>{{intro_blurb}}</p>
    </div>
    {{more_content}}
    <div style="margin-top: 30px;" class="col-sm-10 offset-sm-1">
        <img src="{{image}}" width="100%" alt="">
    </div>
    {{/more_content}}
</div>

<div class="work">
    <div class="row">
        {{collection:work}}
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="workcard-small">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; padding:30px;">
                    <a href="{{url}}">
                        <img src="{{main_image}}" width="100%" alt="{{title}}">
                        <h1 style="font-size: 36px; line-height: 48px;">{{title}}</h1>
                    </a>        
                    <p>{{card_blurb}}</p>
                </div>
            </div>
        </div>
        {{/collection:work}}
    </div>
</div>